body {
  padding : 2em;
}

[role="main"] {
  text-align : center;
}

hr {
  margin-top : 10px;
}


button {
  width : 100%;
  text-transform : uppercase;
}

.-drummachine button {
  text-align : center;
  width : 80%;
}